body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9fb;
    color: #333;
}

h1, h2, h3, h4 {
    color: #a83279;
}

.sidebar-panel {
    background-color: #fff;
    border-right: 1px solid #ddd;
}

input[type="text"] {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}
